body {
    color: #555555;
    font-family: Ubuntu,"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif !important;
    font-weight: 300 !important;
    line-height: 1.8em !important;
}

body h1, body h2, body h3 {
    color: #888888;
    font-family: Ubuntu,"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: 300;
}

#header {
    border-bottom: 1px solid #526267;
    height: 36px;
}

.admin-content {
    background-color: #fff;
    padding: 20px;
    width: 100%;
    min-height: 845px;
}

#admin-nav li {
    list-style: none;
    background-color: #515B5F;
    margin: 0;
}

#admin-nav a {
    color: #D8E0E2;
    display: block;
    padding-top: 45px;
    text-decoration: none;
    text-shadow: 0 1px 1px #202324;
    width: 82px;
}

.table-widget {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 #ACAEAF;
    clear: both;
    margin-top: 22px;
}

.stock-table th {
    border-bottom: 1px solid #D3D3D3;
    border-right: 1px solid #E5E5E5;
    box-shadow: 0 1px 0 1px #FFFFFF inset;
    color: #6C6C6C;
    font-size: 11px;
    font-weight: bold;
    padding: 12px 0;
    text-align: center;
    text-transform: uppercase;
}

.btn-primary {
    background: none repeat scroll 0 0 #3F3F3F;
    border: medium none;
    box-shadow: none;
    padding: 15px 15px !important;
}

.btn-primary:hover {
    background: none repeat scroll 0 0 #3F3F3F;
}

.right-nav {
    float: right !important;
    margin-bottom: 10px !important;
    margin-left: 10px;
}