<pre class="pre-default-code"><code>
    <span class="comment">//Start of file JackInTheBox.php</span>

    <span class="main-highlight">class</span> JackInTheBox <span class="main-highlight">extends</span> Db
    {
    <span class="main-highlight">public function</span> __construct()
    {
    <span class="main-highlight">parent::</span>__construct();
    <span class="var">$this->db</span> = <span class="main-highlight">new</span> Db();
    }

    <span class="comment">//Rest of the functions here</span>
    }

    <span class="comment">//End of file JackInTheBox.php</span>


    <span class="comment">//Start of file Db.php</span>

    <span class="main-highlight">class</span> Db
    {
    <span class="main-highlight">public function</span> __construct()
    {
    <span class="comment">//Some code to run the db connection here</span>
    }
    }
    <span class="comment">//End of file JackInTheBox.php</span>
</code>
</pre>